{% extends 'base.html.twig' %}

{% block body %}
    <h1>Parameter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parameter.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ parameter.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ parameter.code }}</td>
            </tr>
            <tr>
                <th>Edizm</th>
                <td>{{ parameter.edIzm }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parameter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('parameter_edit', { 'id': parameter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
