{% extends "base.html.twig" %}

{% block page_title %}
Рабочий стол
{% endblock %}

{% block body %}

        <!-- /.row -->

        {#<!-- ============================================================== -->
        <!-- Different data widgets -->
        <!-- ============================================================== -->
        <!-- .row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Visit</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">659</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Page Views</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">869</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Unique Visitor</h3>
                    <ul class="list-inline two-part">
                        <li>
                            <div id="sparklinedash3"></div>
                        </li>
                        <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">911</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.row -->
        <!--row -->
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Products Yearly Sales</h3>
                    <ul class="list-inline text-right">
                        <li>
                            <h5><i class="fa fa-circle m-r-5 text-info"></i>Mac</h5> </li>
                        <li>
                            <h5><i class="fa fa-circle m-r-5 text-inverse"></i>Windows</h5> </li>
                    </ul>
                    <div id="ct-visits" style="height: 405px;"></div>
                </div>
            </div>
        </div>#}


    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Создать новый проект</h3>
                <p class="text-muted m-b-30 font-13">Введите название проекта</p>
                {{ form_start(form, {attr: {class: 'form-horizontal'} })  }}
                <div class="form-group">
                    <label class="col-md-12">{{ form_label(form.name) }}</label>
                    {{ form_errors(form.name) }}
                    <div class="col-md-12">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <button type="submit" class="btn waves-effect waves-light btn-success">Создать</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% if projects | length > 0 %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <h2>Проекты</h2>
                    {#<div class="row sales-report">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <h3 class="text-right text-info m-t-20"><a href="{{ path('project_new') }}">Создать новый</a></h3>
                        </div>
                    </div>#}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Название</th>
                                    <th>Дата создания</th>
                                    <th>Дата обновления</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td class="txt-oflo">
                                        <a href="{{ path('project_show', { 'id': project.id }) }}">
                                            {{ project.name }}
                                        </a>
                                    </td>
                                    <td class="txt-oflo">
                                        {% if project.createdDate %}{{ project.createdDate|date('d.m.Y H:i') }}{% endif %}
                                    </td>
                                    <td class="txt-oflo">
                                        {% if project.updatedDate %}{{ project.updatedDate|date('d.m.Y H:i') }}{% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path('project_show', { 'id': project.id }) }}" data-toggle="tooltip" data-original-title="Показать">
                                            <i class="fa fa-chain fa-fw" aria-hidden="true"></i>
                                            </a> |&nbsp;
                                        <a href="{{ path('project_edit', { 'id': project.id }) }}" data-toggle="tooltip" data-original-title="Изменить">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row sales-report">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h1>Проектов нет!</h1>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <h3 class="text-right text-info m-t-20"><a href="{{ path('andy_diffuse_river_homepage') }}">Создать новый</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        {# <!-- row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">Simple Basic Map</h3>
                    <div id="gmaps-simple" class="gmaps"></div>
                </div>
            </div>
        </div>#}




        <!-- ============================================================== -->
        <!-- Recent comment, table & feed widgets -->
        <!-- ============================================================== -->
        {#<div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                        <select class="form-control pull-right row b-none">
                            <option>March 2017</option>
                            <option>April 2017</option>
                            <option>May 2017</option>
                            <option>June 2017</option>
                            <option>July 2017</option>
                        </select>
                    </div>
                    <h3 class="box-title">Recent sales</h3>
                    <div class="row sales-report">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h2>March 2017</h2>
                            <p>SALES REPORT</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 ">
                            <h1 class="text-right text-info m-t-20">$3,690</h1> </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>NAME</th>
                                <th>STATUS</th>
                                <th>DATE</th>
                                <th>PRICE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td class="txt-oflo">Elite admin</td>
                                <td><span class="label label-success label-rouded">SALE</span> </td>
                                <td class="txt-oflo">April 18, 2017</td>
                                <td><span class="text-success">$24</span></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class="txt-oflo">Real Homes WP Theme</td>
                                <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                <td class="txt-oflo">April 19, 2017</td>
                                <td><span class="text-info">$1250</span></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class="txt-oflo">Ample Admin</td>
                                <td><span class="label label-info label-rouded">EXTENDED</span></td>
                                <td class="txt-oflo">April 19, 2017</td>
                                <td><span class="text-info">$1250</span></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class="txt-oflo">Medical Pro WP Theme</td>
                                <td><span class="label label-danger label-rouded">TAX</span></td>
                                <td class="txt-oflo">April 20, 2017</td>
                                <td><span class="text-danger">-$24</span></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="txt-oflo">Hosting press html</td>
                                <td><span class="label label-warning label-rouded">SALE</span></td>
                                <td class="txt-oflo">April 21, 2017</td>
                                <td><span class="text-success">$24</span></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td class="txt-oflo">Digital Agency PSD</td>
                                <td><span class="label label-success label-rouded">SALE</span> </td>
                                <td class="txt-oflo">April 23, 2017</td>
                                <td><span class="text-danger">-$14</span></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td class="txt-oflo">Helping Hands WP Theme</td>
                                <td><span class="label label-warning label-rouded">member</span></td>
                                <td class="txt-oflo">April 22, 2017</td>
                                <td><span class="text-success">$64</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>#}

{% endblock %}