{% extends 'base.html.twig' %}

{% block body %}
    <h1>Point</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ point.name }}</td>
            </tr>
            <tr>
                <th>Coords</th>
                <td>{{ point.coords }}</td>
            </tr>
            <tr>
                <th>Createddate</th>
                <td>{% if point.createdDate %}{{ point.createdDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updateddate</th>
                <td>{% if point.updatedDate %}{{ point.updatedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Projectid</th>
                <td>{{ point.projectId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {#<a href="{{ path('project_show') }}">Back to the list</a>#}
        </li>
        <li>
            <a href="{{ path('point_edit', { 'project': project.id, 'id': point.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
