{% extends 'base.html.twig' %}

{% block title %}
    {{ project.name }} | {{ point.name }} | Изменить значение параметра - {{ parameter.name }}
{% endblock %}

{% block page_title %}
    Изменить значение параметра точки: {{ point.name }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.name }}</a></li>
<li><a href="{{ path('point_show', { 'project' : project.id, 'id': point.id }) }}">{{ point.name }}</a></li>
<li><a href="{{ path('parameter_value_show', { 'project' : project.id, 'id' : point.id, 'parameter' : parameter.id}) }}">{{ parameter.name }}</a></li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="row sales-report">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h1>Параметр: {{ parameter.name }}</h1>

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <div class="text-right text-info m-t-10">
                            <a class="di m-t-15" href="{{ path('point_show', { 'project' : project.id, 'id': point.id }) }}">Назад к списку</a>
                        </div>
                    </div>
                </div>
                <div class="m-t-20">
                </div>
            </div>
        </div>
    </div>

    {# Изменить значения параметра #}

    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Изменить знечение параметра</h3>
                <p class="text-muted m-b-30 font-13">Введите новое значение параметра</p>
                {{ form_start(edit_form, {attr: {class: 'form-horizontal'} })  }}
                <div class="form-group">
                    <label for="{{ edit_form.value.vars.id }}" class="col-md-12">{{ form_label(edit_form.value) }}</label>
                    {{ form_errors(edit_form.value) }}
                    <div class="col-md-12">
                        {{ form_widget(edit_form.value) }}
                    </div>
                </div>
                <button type="submit" class="btn waves-effect waves-light btn-info">Изменить</button>
                {{ form_end(edit_form) }}
                <br>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn waves-effect waves-light btn-danger">Удалить</button>
                {{ form_end(delete_form) }}
                <br>
                <a href="{{ path('project_show', { 'id': project.id }) }}">Назад к списку</a>
            </div>
        </div>
    </div>
{% endblock %}
