{% extends 'base.html.twig' %}


{% block title %}
    {{ project.name }} | {{ point.name }} | {{ parameter.name }}
{% endblock %}

{% block page_title %}
    {{ point.name }} > {{ parameter.name }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.name }}</a><li>
<li><a href="{{ path('point_show', { 'project': project.id, 'id': point.id  }) }}">{{ point.name }}</a><li>
    {{ parameter.name }}
    {% endblock %}

    {% block body %}

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row sales-report">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <h1>Параметр: {{ parameter.name }}, точки: {{ point.name }}</h1>
                            <h3>Код параметра: {{ parameter.code }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="text-right text-info m-t-15">
                                {#<h5><a href="{{ path('point_edit', { 'project': project.id, 'id': point.id }) }}">Изменить</a></h5>#}
                                <h5><a href="{{ path('point_show', { 'project': project.id, 'id': point.id  }) }}">Назад к списку</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                    </div>
                </div>
            </div>
        </div>


        {% if arParameter | length > 0 %}
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3>Значения параметра текущей точки</h3>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                            <a class="di btn btn-danger js-delete" href="{{ path('parameter_value_delete_all', { 'project' : project.id, 'id': point.id, 'parameter': parameter.id }) }}">Удалить все</a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Дата</th>
                                <th>Единица измерения</th>
                                <th>Значение</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for itemParam in arParameter %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td class="txt-oflo">
                                        {% if itemParam['date'].date %}
                                            {{ itemParam['date'].date|date('d.m.Y') }}
                                        {% endif %}
                                    </td>
                                    <td class="txt-oflo">
                                        {{ parameter.edIzm }}
                                    </td>
                                    <td class="txt-oflo">
                                        {{ itemParam['0'].value }}
                                    </td>
                                    <td>
                                        <a href="{{ path('parameter_value_edit', { 'project' : project.id, 'id': point.id, 'param_value' : itemParam['0'].id }) }}" data-toggle="tooltip" data-original-title="Изменить">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a href="{{ path('parameter_value_delete', { 'project' : project.id ,'id': point.id, 'param_value' : itemParam['0'].id }) }}" data-toggle="tooltip" data-original-title="Удалить">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


            {% if arParamQ | length > 0 and arParamQ['0'].code != parameter.code %}

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="table-responsive">
                                <div class="row m-t-20" style="min-width: 600px; width: 100%; max-width: 100%;" id="plot-point">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% block head_scripts %}
                    <script src="{{ asset('js/plotly/plotly-basic-latest.min.js') }}"></script>
                {% endblock %}

                <script>

                    let x = [];
                    let y = [];
                    let xName, xCode, xEdIzm,
                        yName, yCode, yEdIzm;

                    {% for itemParamQ in arParamQ %}
                        x.push({{ itemParamQ.value }});
                        xName = '{{ itemParamQ.name }}';
                        xEdIzm = '{{ itemParamQ.edIzm }}';
                        xCode = '{{ itemParamQ.code }}';
                    {% endfor %}

                    yName = '{{ parameter.name }}';
                    yEdIzm = '{{ parameter.edIzm }}';
                    yCode = '{{ parameter.code }}';

                    {% for itemParam in arParameter %}
                        y.push({{ itemParam['0'].value }});
                    {% endfor %}

                    let trace = {
                        type: "scatter",
                        mode: "markers",
                        name: 'AAPL High',
                        x: x,
                        y: y,
                        line: {color: '#17BECF'}
                    };

                    let data = [trace];

                    let layout = {
                        title: 'График зависимостей',
                        xaxis: {
                            title: xName + ': ' + xCode + ', ' + xEdIzm,
                            titlefont: {
                                color: 'black',
                                size: 13
                            },
                        },
                        yaxis: {
                            title: yName + ':' + yCode + ', ' + yEdIzm,
                            titlefont: {
                                color: 'black',
                                size: 13
                            },
                        }
                    };

                    Plotly.newPlot('plot-point', data, layout);
                </script>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="row sales-report">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h1>Значений параметров нет!</h1>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}


{% endblock %}
