{% extends 'base.html.twig' %}


{% block title %}
    {{ project.name }} | {{ point.name }} | {{ parameter.name }}
{% endblock %}

{% block page_title %}
    {{ point.name }} > {{ parameter.name }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.name }}</a><li>
<li><a href="{{ path('point_show', { 'project': project.id, 'id': point.id  }) }}">{{ point.name }}</a><li>
    {{ parameter.name }}
    {% endblock %}

    {% block body %}

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row sales-report">
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <h1>Параметр: {{ parameter.name }}, точки: {{ point.name }}</h1>
                            <h3>Код параметра: {{ parameter.code }}</h3>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="text-right text-info m-t-15">
                                {#<h5><a href="{{ path('point_edit', { 'project': project.id, 'id': point.id }) }}">Изменить</a></h5>#}
                                <h5><a href="{{ path('point_show', { 'project': project.id, 'id': point.id  }) }}">Назад к списку</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20">
                    </div>
                </div>
            </div>
        </div>


        {% if arParameter | length > 0 %}

        {# Сначала покажем результаты если они есть #}

        {% if arParamQ | length > 0 and arParamQ['0'].code != parameter.code %}

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <h3>График на основе загруженных данных</h3>
                            <p>Если значение "-1", то в расчетах не участвует!</p>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div class="row m-t-20" style="min-width: 600px; width: 100%;" id="plot-point">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="select-method">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h3>Выберите алгоритм расчета, исходя из графика:</h3>
                            </div>
                        </div>

                        {% for label, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                {% if label == 'success' %}
                                    <p class="text-success m-b-5 font-13">{{ message }}</p>
                                {% else %}
                                    <p class="text-danger m-b-5 font-13">{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}

                        <form action="{{ path('andy_diffuse_river_calculate') }}" method="post">
                            <input name="project" value="{{ project.id }}" type="hidden">
                            <input name="point" value="{{ point.id }}" type="hidden">
                            <input name="parameter" value="{{ parameter.id }}" type="hidden">
                            <select class="m-r-20" name="method" id="method">
                                <option value="0" selected>Не выбран</option>
                                {% for itemMethod in diffuseMethod  %}
                                    <option value="{{ itemMethod }}">Случай {{ itemMethod }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-info" type="submit">Рассчитать</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>


        {% if results | length > 0 %}

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h2>Результаты расчета</h2>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Название</th>
                                <th>Значение</th>
                                <th>Дата создания</th>
                                <th>Дата обновления</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in results %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>

                                    {% if result.value | length > 1 %}
                                        <td colspan="2">
                                            <table class="table">
                                                <tbody>
                                                {% for name, value in result.value %}
                                                    <tr>
                                                        <td class="txt-oflo">
                                                            {{ name }}
                                                        </td>
                                                        <td class="txt-oflo">
                                                            {{ value }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </td>
                                    {% else %}
                                        {% for name, value in result.value %}
                                            <td class="txt-oflo">
                                                {{ name }}
                                            </td>
                                            <td class="txt-oflo">
                                                {{ value }}
                                            </td>
                                        {% endfor %}
                                    {% endif %}

                                    <td class="txt-oflo">
                                        {% if result.createdDate %}{{ result.createdDate|date('d.m.Y H:i') }}{% endif %}
                                    </td>
                                    <td class="txt-oflo">
                                        {% if result.updatedDate %}{{ result.updatedDate|date('d.m.Y H:i') }}{% endif %}
                                    </td>
                                    <td>
                                        <form method="post" class="di" action="{{ path('parameter_value_result_delete', { 'project' : project.id, 'id': point.id, 'parameter': parameter.id, 'result': result.id }) }}">
                                            <button type="submit" class="btn-link js-delete" data-toggle="tooltip" data-original-title="Удалить">
                                                <i class="fa fa-close text-danger"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}




    {% block head_scripts %}
        <script src="{{ asset('js/plotly/plotly-basic-latest.min.js') }}"></script>
    {% endblock %}

        <script>

            let x = [];
            let y = [];
            let Yfit = [];
            let xName, xCode, xEdIzm,
                yName, yCode, yEdIzm;

            {% for itemParamQ in X %}
            x.push({{ itemParamQ }});
            {% endfor %}

            xName = '{{ arParamQ[0].name }}';
            xEdIzm = '{{ arParamQ[0].edIzm }}';
            xCode = '{{ arParamQ[0].code }}';

            yName = '{{ parameter.name }}';
            yEdIzm = '{{ parameter.edIzm }}';
            yCode = '{{ parameter.code }}';

            {% for itemParam in Y %}
            y.push({{ itemParam }});
            {% endfor %}

            {% for itemParam in Yfit %}
            Yfit.push({{ itemParam }});
            {% endfor %}

            let trace = {
                type: "scatter",
                mode: "markers",
                name: 'Значения',
                x: x,
                y: y,
                line: {color: '#17BECF'}
            };

            let trace2 = {
                type: "scatter",
                mode: "lines",
                name: 'Линия тренда',
                x: x,
                y: Yfit,
                line: {color: '#cf0531'}
            };

            let data = [trace, trace2];

            let layout = {
                title: 'График зависимостей',
                xaxis: {
                    title: xName + ': ' + xCode + ', (' + xEdIzm + ')',
                    titlefont: {
                        color: 'black',
                        size: 13
                    },
                },
                yaxis: {
                    title: yName + ':' + yCode + ', (' + yEdIzm + ')',
                    titlefont: {
                        color: 'black',
                        size: 13
                    },
                }
            };

            Plotly.newPlot('plot-point', data, layout);
        </script>
        {% endif %}




        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h3>Значения параметра текущей точки</h3>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <form method="post" class="di" action="{{ path('parameter_value_delete_all', { 'project' : project.id, 'id': point.id, 'parameter': parameter.id }) }}">
                                <button type="submit" class="btn btn-danger js-delete">
                                    Удалить все
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Дата</th>
                                <th>Единица измерения</th>
                                <th>Значение</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for itemParam in arParameter %}
                                <tr>
                                    <td>
                                        {{ loop.index }}
                                    </td>
                                    <td class="txt-oflo">
                                        {% if itemParam['date'].date %}
                                            {{ itemParam['date'].date|date('d.m.Y') }}
                                        {% endif %}
                                    </td>
                                    <td class="txt-oflo">
                                        {{ parameter.edIzm }}
                                    </td>
                                    <td class="txt-oflo">
                                        {{ itemParam['0'].value }}
                                    </td>
                                    <td>
                                        <a href="{{ path('parameter_value_edit', { 'project' : project.id, 'id': point.id, 'param_value' : itemParam['0'].id }) }}" data-toggle="tooltip" data-original-title="Изменить">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <form method="post" class="di" action="{{ path('parameter_value_delete', { 'project' : project.id ,'id': point.id, 'param_value' : itemParam['0'].id }) }}">
                                            <button type="submit" class="btn-link js-delete" data-toggle="tooltip" data-original-title="Удалить">
                                                <i class="fa fa-close text-danger"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="row sales-report">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h1>Значений параметров нет!</h1>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}


{% endblock %}
